* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #333333;
  font-family: MainFont, 'Trebuchet MS', Helvetica, sans-serif;
}

.App {
  width: 900px;
  margin: 0 auto 160px;
}

h1 {
  color: rgb(0, 119, 255);
  font-size: 36px;
  font-weight: 400;
  border-bottom: 1px solid #333333;
  padding: 24px 0 12px;
  text-align: center;
}

h2 {
  margin: 24px;
}

.select {
  margin: 24px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 24px;
  list-style-type: none;
}

.select li {
  background-color: rgba(222, 211, 230, 0.3);
  height: 172px;
  width: auto;
  padding: 18px 24px 24px;
}

.select li:hover {
  cursor: pointer;
  background-color: rgba(222, 211, 230, 0.6);
}

.select li p {
  margin-bottom: 8px;
}

.select .thumb {
  height: 100px;
  overflow: hidden;
  display: flex;
}

.select .thumb img {
  object-fit: cover;
  width: 100%;
}

.mode {
  margin: 24px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 24px;
  list-style-type: none;
}

.mode li {
  text-align: center;
  padding: 24px;
  cursor: pointer;
  font-size: 18px;
  border-radius: 4px;
}

.mode li:nth-child(1) {
  background-color: rgba(125, 228, 94, 0.3);
}

.mode li:nth-child(1):hover {
  background-color: rgba(125, 228, 94, 0.7);
}

.mode li:nth-child(2) {
  background-color: rgba(228, 181, 94, 0.3);
}

.mode li:nth-child(2):hover {
  background-color: rgba(228, 181, 94, 0.7);
}

.mode li:nth-child(3) {
  background-color: rgba(228, 94, 94, 0.3);
}

.mode li:nth-child(3):hover {
  background-color: rgba(228, 94, 94, 0.7);
}

.quiz .item {
  margin: 24px 24px 24px 72px;
}

.quiz .question {
  margin-bottom: 6px;
}

.quiz .answers {
  list-style-type: none;
}

.quiz .answers li {
  margin: 6px 0;
  padding: 3px 6px 3px;
  cursor: default;
  width: max-content;
}

.quiz .answers input {
  margin-right: 6px;
}

.quiz .answer {
  pointer-events: none;
}

.submit {
  width: 300px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: auto;
}

.submit button {
  padding: 12px 32px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
}

.submit button:hover {
  cursor: pointer;
}

.correct {
  background-color: rgb(184, 255, 184);
}

.yes-point {
  background-color: rgb(76, 241, 76);
}

.no-point {
  background-color: rgb(255, 177, 177);
}
